canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 42%;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: blue 3px solid;
}
body {

   background-color: #000000;
  
    
}

// background-image: url("Images/DONKEYKONG.png");
